<p id="notice"><%= notice %></p>

<h1>Users</h1>

  <div id="test">
    <% @users.each do |user| %>
    <div class="post_content">
      <div class="aiueo"><%= user.name%></div>
    </div>
    <% end %>
  </div>


<%= link_to 'New User', new_user_path, remote: true, class: "btn btn-lg btn-primary" %>
<div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
